.ant-multiple-cascader {
  position: relative;
  overflow: hidden;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  outline: none;
  .ant-multiple-selected-wraper {
    overflow: hidden;
    white-space: nowrap;
    .ant-multiple-selected-wrap {
      display: inline-block;
      height: 26px;
      margin: 0;
      border-radius: 4px;
      white-space: nowrap;
      color: rgba(0,0,0,.25);
      user-select: none;
      .ant-mutiple-selected-div {
        display: inline-block;
      }
      .ant-multiple-selected {
        overflow: hidden;
        position: relative;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        margin-top: 3px;
        background-color: #f3f3f3;
        color: rgba(0,0,0,.65);
        border-radius: 4px;
        user-select: none;
        border: 0;
        font-size: 12px;
        span {
          display: inline-block;
          vertical-align: top;
        }
        .ant-multiple-prefix, .ant-multiple-suffix {
          width: 10px;
          height: 20px;
        }
        .ant-multiple-suffix {
          width: 20px;
        }
        .ant-input {
          height: 20px;
        }
        .ant-multiple-icon-remove {
          position: absolute;
          right: 4px;
          transform: scale(0.83333333) rotate(0deg);
          text-align: center;
          color: rgba(0, 0, 0, .45);
          font-size: 12px;
          cursor: pointer;
        }
      }
      .ant-multiple-selected-placeholder {
        display: inline-block;
        width: 5px;
        height: 22px;
        line-height: 22px;
        margin-left: 5px;
      }
    }
    .ant-multiple-selected-wrap:focus {
      border: 0 none;
      border-top: 0;
      box-shadow: none;
      outline-color: #fff;
    }
    .multiple-ant-cascader-text-wrap {
      position: relative;
      display: inline-block;
      vertical-align: top;
      .multiple-ant-cascader-text {
        position: relative;
        z-index: 11;
        width: 5px;
        height: 24px;
        padding: 0 5px;
        margin-left: -8px;
        box-sizing: content-box;
        border: 0 none;
        outline: none;
        font-size: 14px;
        vertical-align: top;
      }
      .multiple-ant-cascader-text-save {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        color: #fff;
      }
    }
    .multiple-ant-input-place-text {
      position: absolute;
      left: 0;
      top: 0;
      padding-left: 10px;
      z-index: 12;
      line-height: 26px;
      color: rgba(0, 0, 0, .65);
      opacity: .4;
    }
  }
  .none {
    display: none;
  }
  .ant-badge {
    position: absolute;
    right: 20px;
    top: 3px;
  }
  .anticon {
    z-index: 12;
  }
}
.ant-multiple-cascader-focus {
  border: 1px solid #40a9ff;
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.ant-multiple-cascader:hover {
  border-width: 1px;
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
// ant
.ant-cascader-menu-item {
  margin-bottom: 1px;
  span.ant-cascader-menu-item-expand-icon {
    display: none;
  }
}
.multiple-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), .multiple-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  font-weight: 600;
  background-color: #f0f0f0;
  // background-color: #faa;
}
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  background-color: #d2d2d2;
  // background-color: #f66;
}
.ant-cascader-menu {
  li {
    .ant-cascader-menu-item-expand-icon {
      display: none;
    }
  }
}
// .multipleCascaderPopup {
// }